{% load static %}
      <!-- Main Footer -->
      <footer class="main-footer">
        <strong>Copyright &copy; 2022-2023 <a href="https://www.facebook.com/abdelrahman.g.nofal">Mohamed Abdulsalam</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <a target="_blank" class="text-action" href="#"><i class="fab fa-lg ml-1">+967774368459</i></a>
            <a target="_blank" class="text-danger" href="#"><i class="fab fa-lg fa-youtube"></i></a>
            <a target="_blank" href="https://www.facebook.com/profile.php?id=100006434417374"><i class="fab fa-lg ml-1 fa-facebook"></i></a>
            <a target="_blank" class="text-warning" href="#"><i class="fab fa-lg ml-1 fa-instagram"></i></a>
        </div>
      </footer>
    